.main-layout{
  display: flex;
  flex-direction: row;
  height: calc(100vh - 20px);
  flex-basis:50%;
  margin: 5px;
  border: 1px solid lightblue
}
.sidebar{
  flex-basis: 30%;
  padding: 10px;
  border:1px solid lightblue;
  margin-right: 15px;
  text-align: center;
}
.user-list{
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y:scroll;
}
.user-row{
  display: flex;
  padding: 20px;
  border-bottom:1px solid lightblue;
  align-items: center;
}
.user-row span:nth-child(1){
  flex-basis: 20%;
}
.user-row span:nth-child(2){
  flex-basis: 45%;
}

.user-row span:last-child{
  flex:1;
  text-align: right;
}

.user-title-row{
  font-size: 20px;
  background-color: lightblue;
}

.sidebar button, .user-list button{
  border:0;
  padding:10px;
  font-size: 18px;
  min-width: 68px;
}

.sidebar button:hover, .user-list button:hover{
  cursor: pointer;
  background-color: lightblue;
  color: aliceblue;
}