.text-center{
  text-align: center;
}
section{
  border: 1px dashed darkblue;
}
section h2{
  text-align: center;
  color:darkblue;
}
section .sectionItem{
  flex-basis: 50%;
  text-align: center;
}

.articles{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 10px;
}
.articles ul.sidenav{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.articles ul.sidenav li{
  text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
}
.articles ul.sidenav li.selected{
  color:red;
}

.articles ul.sidenav li:first-child{
  padding-top: 0px;
}

.articles ul.sidenav li:hover{
  color: darkblue;
  cursor: pointer;
}
.articles .main{
  flex: 1;
  padding-left: 20px;
}

.list-with-more #popover{
  position: relative;
  cursor: pointer;
}
.list-with-more #popover #popoverContent{
  position: absolute;
  display: none;
}
.list-with-more #popover #popoverContent.show{
  display: block;
  top: -20px;
  background-color: lightblue;
}

.user-names,.user-names .list-with-more , .user-names .list-with-more #popover{
  display: inline-block;
}